{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Patient Checkin {% endblock title %}</title>

</head>
<body style="height: 100%">
    {% block body %}
    <div class="w3-bar w3-black w3-padding-16"><a href="{% url 'welcome' %}">Welcome Dr {{ doctor.first_name }} {{ doctor.last_name }}</a></div>
    </br>
        <h2 style="text-align: center">Patient Check-in</h2>
    </br>
        <div class="container" style="height: 100%; display: flex; justify-content: center; align-items: center;">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Patient Check-in</div>
                    <div class="panel-body">
                            <form method="post">
                                    {% csrf_token %}
                                    {{form|crispy }}
                                        
                                    <button type="submit">Submit</button>
                                </form>

                    </div>
                </div>
                {% if error %}
                <div><h3>Error : {{error}}</h3></div>
                {% endif %}
                
            </div>
        </div>
        
    {% endblock body %}
</body>
</html>